.deps/
.libs/
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
build/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
mod_browserid-*.tar.gz
mod_auth_browserid.la
mod_auth_browserid.lo
mod_auth_browserid.slo
mod_auth_browserid-*.tar.gz
stamp-h1
*~
